{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon Objectif Super Cool{% endblock %}

{% block body %}
Tous les Objectifs des membres
    {% for objectif in objectifs %}
        <h2>{{ objectif.titre }}</h2>
        <p>Objectif :{{ objectif.libelle }}</p>
        <p>Description :{{ objectif.description }}</p>
             
    {% endfor %}
{% endblock %}