<div>
    <ul>
        <li><a href="{{ path('objectif_index') }}">Index Objectif</a></li>
        <li><a href="{{ path('objectif_liste') }}">liste des Objectifs </a></li>
        <li><a href="{{ path('objectif_fiche') }}">Objectif 5 </a></li>            
   <li><a href="{{ path('objectif_form') }}">Creer Nouveau </a></li>            

    </ul>
</div>